html{
  background-color: #000000db;//#000000d1;
  background-image: url("../../images/index-bg.jpeg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0px;
  color: white;
}

main{
  .home{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .plate{
    margin: 8vh 0;
    padding: 10px;
    background-color: #F79256;
    box-shadow: inset 0 0 20px 9px #a75525;
    -webkit-box-shadow: inset 0 0 20px 9px #a75525;
    border-top: 2px solid #cacaca;
    border-bottom: 2px solid #cacaca;
    h1{
      margin: 0;
      padding: 10px 0;
    }
    h2{
      margin: 0;
      padding: 15px 0;
    }
    figure{
      width: 100%;
      margin: 5px 0;
      overflow: hidden;
      background-color: black;
      img{
      width: 100%;
      }
    }
  }
}

@media only screen and (min-width:700px) {
  main{
    font-size: 18px;
    .home{
      position: fixed;
    }
    .plate{
      width: 80vw;
      border: none;
      border-left: 2px solid #cacaca;
      border-right: 2px solid #cacaca;
      margin: auto;
      padding: 20px;
      padding-bottom: 50px;
    }
  }
}

@media only screen and (min-width:1024px) {
  main{
    .plate{
      max-width: 1224px;
      h1,h2,p{
        padding-left: 5px;
      }
      figure{
        display: inline-block;
        margin: 5px;
        width: 48%;
        overflow: hidden;
        img{
        width: 100%;
        opacity: .5;
        transition: opacity .5s;

        &:hover{
          opacity: 1;
        }
        }
      }
    }
  }
}

/* Copyright © 2019 */
/* Created By: Wahhaaj Davids */
