@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  background-color: #000000db;
  background-image: url("../../images/index-bg.jpeg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

main {
  width: 100%;
  height: 990px;
  position: relative;
  overflow: hidden;
}

div, header {
  overflow: hidden;
  color: #FFFFFA;
  position: absolute;
  border: 2px solid #cacaca;
  transform: rotate(30deg);
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.jobTitle {
  z-index: 2;
}

header {
  width: 500px;
  height: 500px;
  top: -150px;
  left: -20px;
  background-color: #4D7EA8;
  box-shadow: inset 0 0 20px 9px #26547b;
  -webkit-box-shadow: inset 0 0 20px 9px #26547b;
}
header .content {
  text-align: center;
  margin-left: 16px;
  margin-top: 225px;
  border: none;
  width: 400px;
  transform: rotate(-30deg);
}
header .content .resume-download {
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #FFFFFA;
  color: #FFFFFA;
  background-color: transparent;
  outline: none;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
header .content .resume-download p, header .content .resume-download img {
  display: inline-block;
  vertical-align: middle;
}
header .content .resume-download p {
  margin: 0px;
}
header .content .resume-download img {
  padding-left: 3px;
  width: 25px;
  height: 25px;
}
header .content .resume-download:hover {
  background-color: #26547b;
  box-shadow: -1px 5px 20px 3px #26547b;
  -webkit-box-shadow: -1px 5px 20px 3px #26547b;
}
header .content .resume-download:active {
  background-color: black;
}

.contact {
  width: 400px;
  height: 400px;
  top: 217px;
  left: -325px;
}
.contact h2 {
  margin-top: 85px;
  margin-left: 275px;
  transform: rotate(-90deg);
}
.contact:hover {
  background-color: #E63946;
  box-shadow: inset 0 0 20px 9px #73252b;
  -webkit-box-shadow: inset 0 0 20px 9px #73252b;
}
.contact:active {
  background-color: #73252b;
}

.resume {
  width: 300px;
  height: 300px;
  top: 400px;
  left: 55px;
}
.resume h2 {
  margin-top: 132px;
  margin-left: 75px;
}
.resume:hover {
  background-color: #531CB3;
  box-shadow: inset 0 0 20px 9px #2b0869;
  -webkit-box-shadow: inset 0 0 20px 9px #2b0869;
}
.resume:active {
  background-color: #2b0869;
}

.project {
  width: 300px;
  height: 300px;
  top: 640px;
  left: -136px;
}
.project h2 {
  margin-top: 84px;
  margin-left: 116px;
  transform: rotate(-90deg);
}
.project:hover {
  background-color: #F79256;
  box-shadow: inset 0 0 20px 9px #a75525;
  -webkit-box-shadow: inset 0 0 20px 9px #a75525;
}
.project:active {
  background-color: #a75525;
}

.blog {
  width: 300px;
  height: 300px;
  top: 790px;
  left: 126px;
}
.blog h2 {
  margin-top: 68px;
  margin-left: 68px;
  transform: rotate(-30deg);
}
.blog:hover {
  background-color: #944BBB;
  box-shadow: inset 0 0 20px 9px #5e1a82;
  -webkit-box-shadow: inset 0 0 20px 9px #5e1a82;
}
.blog:active {
  background-color: #5e1a82;
}

.extra {
  display: none;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  header {
    left: 0px;
  }

  .contact {
    width: 300px;
    height: 300px;
    top: 297px;
    left: -104px;
  }
  .contact h2 {
    margin-top: 62px;
    margin-left: 37px;
  }

  .resume {
    top: 448px;
    left: 158px;
  }

  .project {
    top: 628px;
  }

  .blog {
    top: 779px;
  }
}
@media only screen and (min-width: 700px) {
  main {
    height: 100vh;
  }

  div, header {
    font-size: 22px;
  }

  header {
    width: 600px;
    height: 600px;
    left: 60px;
    top: -190px;
  }
  header .content {
    margin-left: 152px;
  }

  .contact {
    width: 350px;
    height: 350px;
    top: 282px;
    left: 536px;
  }
  .contact h2 {
    margin-top: 35px;
    margin-left: -153px;
  }

  .project {
    width: 350px;
    height: 350px;
    top: 325px;
    left: -94px;
  }
  .project h2 {
    margin-top: 129px;
    margin-left: 105px;
    transform: rotate(0deg);
  }

  .resume {
    width: 350px;
    height: 350px;
    top: 501px;
    left: 211px;
  }
  .resume h2 {
    margin-top: 63px;
    margin-left: -11px;
    transform: rotate(-90deg);
  }

  .blog {
    width: 350px;
    height: 350px;
    top: 782px;
    left: -7px;
  }
  .blog h2 {
    margin-top: 57px;
    margin-left: 106px;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    height: 100vh;
  }

  header {
    width: 800px;
    height: 800px;
    left: -202px;
    top: -247px;
  }
  header .content {
    width: 700px;
    font-size: 26px;
    margin-left: 151px;
    margin-top: 328px;
  }
  header .content .resume-download {
    font-size: 18px;
  }
  header .content .resume-download p, header .content .resume-download img {
    vertical-align: bottom;
  }

  .contact {
    width: 400px;
    height: 400px;
    top: -163px;
    left: 760px;
  }
  .contact h2 {
    margin-top: 255px;
    margin-left: 105px;
    transform: rotate(0deg);
  }

  .project {
    width: 400px;
    height: 400px;
    top: 533px;
    left: 358px;
  }
  .project h2 {
    margin-top: 129px;
    margin-left: 105px;
    transform: rotate(0deg);
  }

  .resume {
    width: 400px;
    height: 400px;
    top: 185px;
    left: 559px;
  }
  .resume h2 {
    margin-top: 63px;
    margin-left: -11px;
    transform: rotate(-90deg);
  }

  .blog {
    width: 400px;
    height: 400px;
    top: 574px;
    left: -130px;
  }
  .blog h2 {
    margin-top: 76px;
    margin-left: 137px;
  }

  .extra {
    display: block;
    width: 400px;
    height: 400px;
    top: 520px;
    left: 830px;
  }
  .extra:hover {
    background-color: #ADF6B1;
    box-shadow: inset 0 0 20px 9px #60a264;
    -webkit-box-shadow: inset 0 0 20px 9px #60a264;
  }
}
@media only screen and (min-width: 1150px) {
  .blog h2 {
    margin-top: 111px;
    margin-left: 174px;
  }

  .project h2 {
    margin-top: 170px;
  }
}
/* Copyright © 2019 */
/* Created By: Wahhaaj Davids */
